<!DOCTYPE html>
<html lang="en", xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Иннформация о пользователе</title>
</head>
<body>
<div>
    <a th:href = "@{/admin/users}">Назад</a>
    <p  > ID     :<span th:text="${user.getId()}"       /></p>
    <p  > Имя    :<span th:text="${user.getFirstName()}"/></p>
    <p  > Фамилия:<span th:text="${user.getLastName()}" /></p>
    <p  > Почта  :<span th:text="${user.getEmail()}"    /></p>
    <p  > Пароль :<span th:text="${user.getPassword()}" /></p>
    <p  > Роль   :<span th:text="${user.getRole()}"     /></p>
    <p  > Статус :<span th:text="${user.getStatus()}"   /></p>
</div>
<a th:href = "@{/admin/users/{id}(id=${user.getId()})/edit}">Изменить</a>
<a th:href = "@{/admin/users/{id}(id=${user.getId()})/delete}">Удалить</a>

</body>
</html>