<!DOCTYPE html>
<html lang="en" , xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список технологических карт</title>
    <link rel="stylesheet" th:href="@{/css/admin-panel-tables.css}"/>
    <div th:replace="pages/home/header :: header-css"/>
</head>
<body>
<div th:replace="pages/home/header :: header"/>
<h1>Таблица с поиском продукта</h1>
<div style="padding: 20px">
    <div class="horizontal-container">
        <input type="text" id="searchInput" placeholder="Поиск..." />
        <a class="button" th:href = "@{/admin/technological-cards/create}">Создать технологическую карту</a>
    </div>
    <table id="dataTable">
        <thead>
        <tr>
            <th>id</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Последняя версия</th>
            <th>Название продукта</th>
            <th>Название технологического процесса</th>
            <th>Название оборудования</th>
            <th>Изменить технологическую карту</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="technologicalCard : ${technologicalCards}">
            <td th:text="${technologicalCard.getId()}"></td>
            <td th:text="${technologicalCard.getName()}"></td>
            <td th:text="${technologicalCard.getDescription()}"></td>
            <td th:text="${technologicalCard.getLastVersion()}"></td>
            <td th:text="${technologicalCard.getProduct().getName()}"></td>
            <td th:text="${technologicalCard.getProduct().getManufacturingProcess().getName()}"></td>
            <td th:text="${technologicalCard.getProduct().getManufacturingProcess().getEquipment().getName()}"></td>
            <th>
                <a th:href="@{/admin/technological-cards/{id}/update(id=${technologicalCard.getId()})}">Ссылка</a>
            </th>
        </tbody>
    </table>
</div>
<div>
</div>


<script src="/js/users.js"></script>
</body>
</html>
