.container {
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 600px !important;
    height: 600px;
    margin-top: 30px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.link {
    display: block;
    text-align: center;
    background-color: black;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin: 10px auto;
    width: 230px;
    text-decoration: none;
}

.link:hover {
    background-color: darkgrey;
    color: white;
    text-decoration: none;
}
h2{
    margin-bottom: 30px;
}