.container-profile{
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
form h2 {
    font-size: 24px;
    margin-bottom: 40px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
form input ,
form select {
    border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.button{
    text-align: center;
    background-color: black;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    height:70px;
    width:200px;
    margin: 5px;
}
.button:hover{
    background-color: darkgrey;
    color: white;
    text-decoration: none;
}
.links {
    display: flex;
    justify-content: center;
}

.button-delete{
    background-color: black;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    width: 200px;
    margin: 5px;
    height:40px;
}
.button-delete:hover{
    background-color: darkgrey;
    color: white;
    text-decoration: none;
}
.form-divide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}