<!DOCTYPE html>
<html lang="en", xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск технологической карты</title>
    <div th:replace="pages/home/header :: header-css"/>
    <style>
        .main-body{
            background-color: #DCDCDC;
            height: 700px;
            padding: 25px;
        }
        .container {
            overflow: auto;
            width: 800px;
            height: 500px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border: 4px solid black;
            border-radius: 5px;
            font-family: Arial, sans-serif;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div th:replace="pages/home/header :: header"/>

<div class="main-body">
    <div class="container">
        <input style="margin: 10px;" type="text" id="searchInput" placeholder="Поиск..." oninput="searchTree()">
        <a th:href="@{/technological-maps/documentation}">Актуальные версии техн. карт</a>
        <ul id="treeList">
            <li th:each="equipment : ${equipments}">
                <span th:text="${equipment.getName()}" onclick="toggleList(this)"></span>
                <ul style="display: none;">
                    <li th:each="process : ${equipment.getManufacturingProcessList()}">
                        <span th:text="${process.getName()}" onclick="toggleList(this)"></span>
                        <ul style="display: none;">
                            <li th:each="product : ${process.getProducts()}">
                                <span th:text="${product.getName()}" onclick="toggleList(this)"></span>
                                <ul style="display: none;">
                                    <li th:each="technologicalCard : ${product.getTechnologicalCard()}">
                                        <span th:text="${technologicalCard.getName()}" onclick="toggleList(this)"></span>
                                            <ul style="display: none;">
                                                <li th:each="versionTechnologicalCards : ${technologicalCard.getVersionTechnologicalCards()}">
                                                    <span th:text="${versionTechnologicalCards.getTechnologicalCard().getName()} + ' версия '+${versionTechnologicalCards.getVersion()}" onclick="toggleList(this)"></span>
                                                    <div>
                                                        <a th:href="@{/pdf/{cardId}/{cardVersion}(cardId=${versionTechnologicalCards.getTechnologicalCard().getId()}, cardVersion = ${versionTechnologicalCards.getVersion()})}">Открыть</a>
                                                        <form th:action="@{/technological-maps/add}" method="post">
                                                            <input type="hidden" name="card_id" th:value="${technologicalCard.getId()}" />
                                                            <input type="hidden" name="card_version" th:value="${technologicalCard.getLastVersion()}" />
                                                            <button type="submit">Добавить в избранное</button>
                                                        </form>
                                                    </div>
                                                </li>
                                            </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<script>
    function searchTree() {
        var searchInput = document.getElementById("searchInput");
        var searchText = searchInput.value.toLowerCase();
        var treeList = document.getElementById("treeList");

        traverseList(treeList, searchText);
    }

    function traverseList(list, searchText) {
        var items = list.getElementsByTagName("li");
        for (var i = 0; i < items.length; i++) {
            var item = items[i];
            var text = item.textContent.toLowerCase();

            if (text.includes(searchText)) {
                item.style.display = "block";
                showParentList(item);
            } else {
                item.style.display = "none";
            }
        }
    }

    function showParentList(item) {
        var parentList = item.parentElement.closest("ul");
        if (parentList) {
            parentList.style.display = "block";
            var parentItem = parentList.parentElement.closest("li");
            if (parentItem) {
                showParentList(parentItem);
            }
        }
    }

    function toggleList(element) {
        var sublist = element.nextElementSibling;
        if (sublist.style.display === "none") {
            sublist.style.display = "block";
        } else {
            sublist.style.display = "none";
        }
    }
</script>
</body>
</html>