<!DOCTYPE html>
<html lang="en", xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/submit-card-for-approval.css}"/>
    <div th:replace="pages/home/header :: header-css"/>
</head>
<body>
<div th:replace="pages/home/header :: header"/>
<div class="container">
    <h2>Заполните заявку на добавления технологической кары</h2>
    <div>
    <a class="applications-link" th:href="@{/technological-maps/submit-card-for-approval/applications}">Посмотреть заявки</a>
    <form class="container-edit" th:method="POST", th:action="@{/technological-maps/submit-card-for-approval}" enctype="multipart/form-data" th:object="${applicationOfTechnologicalMap}">
    <div class = "div-block">
        <label for="technologicalCard">Выберите карту</label>
        <select th:field="*{technologicalCard}" id="technologicalCard">
            <option th:each="technologicalCard : ${technologicalCards}"
                    th:value="${technologicalCard}" th:text="${technologicalCard}">
            </option>
        </select>
    </div>
    <div class = "div-block">
        <label for="version">Введите версию карты</label>
        <input class="version" type="text" th:field="*{version}" id ="version"/>
        <div style="color:red" th:if="${#fields.hasErrors('version')}" th:errors="*{version}"></div>
    </div>
    <div class = "div-block">
        <label for="comment">Введите комментарий к карте</label>
        <textarea type="text" th:field="*{comment}" id ="comment"/>
        <div style="color:red" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></div>
    </div>
    <div class = "div-block">
        <h2>Загрузить новый PDF-файл</h2>
        <label class="file-input">
            <span>Выберите файл</span>
            <input type="file" name="file" accept=".pdf">
        </label>
    </div>
    <input class = "applications-link" type="submit" value="Создать заявку">
    </form>
    </div>
</div>
</body>
</html>