<!DOCTYPE html>
<html lang="en", xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск технологической карты</title>
    <div th:replace="pages/home/header :: header-css"/>
    <link rel="stylesheet" th:href="@{/css/technological-maps.css}"/>
</head>
<body>
<div th:replace="pages/home/header :: header"/>

<div>
    <div class="container">
        <h2>Технологические карты</h2>
        <input  type="text" id="searchInput" placeholder="Поиск..." oninput="searchTree()">
        <a class="documentation-link" th:href="@{/technological-maps/documentation}">Предыдущие версии технологических карт</a>
        <ul class="treeviewlist" id="treeList">
            <li th:each="equipment : ${equipments}">
               <span th:title="${equipment.getDescription()}" th:text="${equipment.getName()}" onclick="toggleList(this)"></span>
               <ul style="display: none;">
                 <li th:each="process : ${equipment.getManufacturingProcessList()}">
                   <span th:title="${process.getDescription()}" th:text="${process.getName()}" onclick="toggleList(this)"></span>
                   <ul style="display: none;">
                     <li th:each="product : ${process.getProducts()}">
                       <span th:title="${product.getDescription()}" th:text="${product.getName()}" onclick="toggleList(this)"></span>
                       <ul style="display: none;">
                          <li th:each="technologicalCard : ${product.getTechnologicalCard()}">
                            <span th:title="${technologicalCard.getDescription()}" th:text="${technologicalCard.getName()} + ' версия '
                             + ${technologicalCard.getLastVersion()}" onclick="toggleList(this)"></span>
                            <div class="horizontal-container">
                            <a style="font-weight: normal!important; color: black;" th:href="@{/pdf/{cardId}/{cardVersion}(cardId=${technologicalCard.getId()},
                            cardVersion = ${technologicalCard.getLastVersion()})}">Открыть</a>
                            <form th:action="@{/technological-maps/add}" method="post">
                               <input type="hidden" name="card_id" th:value="${technologicalCard.getId()}" />
                               <input type="hidden" name="card_version" th:value="${technologicalCard.getLastVersion()}" />
                               <button  class="underline-on-hover" type="submit">Добавить в избранное</button>
                            </form>
                            </div>
                          </li>
                       </ul>
                     </li>
                   </ul>
                 </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<script>
    function searchTree() {
        var searchInput = document.getElementById("searchInput");
        var searchText = searchInput.value.toLowerCase();
        var treeList = document.getElementById("treeList");

        traverseList(treeList, searchText);
    }

    function traverseList(list, searchText) {
        var items = list.getElementsByTagName("li");
        for (var i = 0; i < items.length; i++) {
            var item = items[i];
            var text = item.textContent.toLowerCase();

            if (text.includes(searchText)) {
                item.style.display = "block";
                showParentList(item);
            } else {
                item.style.display = "none";
            }
        }
    }

    function showParentList(item) {
        var parentList = item.parentElement.closest("ul");
        if (parentList) {
            parentList.style.display = "block";
            var parentItem = parentList.parentElement.closest("li");
            if (parentItem) {
                showParentList(parentItem);
            }
        }
    }

    function toggleList(element) {
        var sublist = element.nextElementSibling;
        if (sublist.style.display === "none") {
            sublist.style.display = "block";
        } else {
            sublist.style.display = "none";
        }
    }
</script>
</body>
</html>