<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWt0Q1T38CV9gQLZMwwDO8fEm5NcZuUCTX" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/login.css}"/>

    <div th:replace="pages/home/header :: header-css"/>
</head>
<body>
<div th:replace="pages/home/header :: header"/>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form class="login-form" th:action="@{/auth/login}" method="post">
                <h2>Вход в аккаунт</h2>
                <div class="form-group">
                    <label for="username">Почта</label>
                    <input class="ss" type="text" id="username" name="username" placeholder="Введите почту" required="required"/>
                    <div th:if="${errorMessage}">
                        <p style="color: red;" th:text="${errorMessage}"></p>
                        <style>
                            .ss {
                                border-color: red !important;
                            }
                        </style>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input class="ss" type="password" id="password" name="password" placeholder="Введите пароль" required="required"/>
                </div>
                <div class="form-group">
                    <button type="submit">Войти</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
