.nav-item{
    border: 4px outset #5C6464;
    border-radius: 40px 40px 40px 40px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.footer-bar {
    background-color: #DCDCDC;
    height: 2px;
}
.navbar-dark .navbar-nav .nav-link {
    color:#5C6464;
}
.main-body{
    background-color: #DCDCDC;
}
.nav-item{
    margin-left: 10px;
}
.header-setting{
    margin: 10px;
}
.nav-item:hover {
    background-color: #ebebeb;
}
.nav-link:hover{
    color: black !important;
}
button{
    padding: 0px;
    margin: 0px;
    height: 28px;
    border: none;
    line-height: 0px;
    background-color: transparent;
}
button:focus {
    outline: none;
}

